<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>

    <div style="text-align: center; padding: 25px 0 25px;letter-spacing: 3px;font-size: 30px;">All users</div>
    {{#each users}}
    <div style="padding: 10px 0; border: 1px solid black; margin-bottom: 5px;">
        <div><label>Email - </label> {{this.email}} </div>
        <div><label>Name - </label> {{this.name}} </div>
        <div><label>Password - </label> {{this.password}} </div>
    </div>
    {{/each}}

</body>
</html>